/* Benefits Section */
.benefits-section {
  width: 100%;
  color: white;
  margin-bottom: 30rem;
}
.benefits-content {
  max-width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 7.2rem;

  margin: 0 auto;
}

.benefits-content h2 {
  font-size: 4.4rem;
  letter-spacing: 0.15rem;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.accordion-img {
  width: 40px;
}
.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accordion-item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.6rem;
  list-style: none;
  font-size: 1.8rem;
  padding-bottom: 0.8rem;
  width: 100%;
}
.accordion-title {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.accordion-content {
  max-width: 100%;

  word-wrap: break-word;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 2px solid #fff;
}
.accordion-item.open .accordion-content {
  max-height: 300px; /* or any value larger than the height of your content */
}

.accordion-content-inner {
  padding-bottom: 20px; /* adjust this value to whatever you want the padding to be */
}

.icon {
  margin-left: auto;
}
